@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald&family=Poppins:wght@500&family=Rubik&display=swap');

body{
    font-family: 'Inter', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
background-color: rgb(148, 134, 134)
}






/* -----section---- */




.inflencer{
    padding-left:10%;
}




h1{
    font-family: 'Inter', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;

}
.products-camera h1{
    font-size: 60px;
}
.program{
    display:flex;
}
.products-camera{
    width:40%;
    margin-top: 5%;
   
}
.link-button{
    text-decoration: none;
    background-color:mediumvioletred;
    font-weight: 700;
    color:white;
    border-radius: 20px;
    padding:10px 40px;
    
}
.products-camera img{
    width:70%;
    padding-left:20%;
}

.choice{
    padding-left: 40%;
    margin-top:300px;
  
}
.all-collection1{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-row-gap:60px;
    padding-bottom: 20px;
  
    
    background-color: #ffffff;  
}
.all-collection1{
    position: absolute;
width: 1300px;
height: 1580px;
padding-left: 40px;
margin-top: 50px;
margin-left:100px;









}
.all-collection{
    box-shadow: 10px 10px 40px gray ;
    width:70%
}
.fa-star{
    color:orange;
}
.all-collection .images img{
    width:300px;
    height:256px;

}


