/* -----section---- */
.inflencer{
    padding-left:10%;
}




h1{
    font-family: 'Inter', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;

}
.products-camera h1{
    font-size: 60px;
}
.program{
    display:flex;
}
.products-camera{
    width:40%;
    margin-top: 5%;
   
}
.products-camera img{
    width:70%;
    padding-left:20%;
}

