@import url('https://fonts.googleapis.com/css2?family=Inter&family=Oswald&family=Poppins:wght@500&family=Rubik&display=swap');
/* ------stylesheet-------- */
body{
    font-family: 'Inter', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;
background-color: rgb(148, 134, 134)
}






/* -----section---- */




.inflencer{
    padding-left:5%;
}




h1{
    font-family: 'Inter', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Rubik', sans-serif;

}
.products-camera h1{
    font-size: 60px;
}
.program{
    display:flex;
}
.products-camera{
    width:40%;
    margin-top: 5%;
   
}
.link-button{
    text-decoration: none;
    background-color:mediumvioletred;
    font-weight: 700;
    color:white;
    border-radius: 20px;
   
    
}
.products-camera img{
    width:70%;
    padding-left:100%;
}

.choice{
    padding-left: 40%;
    margin-top:300px;
  
}
.all-collection1{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3,1fr);
    grid-row-gap:60px;
    padding-bottom: 20px;
  
    
    background-color: #ffffff;  
}
.all-collection1{
    
width: 90%;
padding-left: 10px;
}
.all-collection{
    box-shadow: 10px 10px 40px gray ;
    width:70%
}
.fa-star{
    color:orange;
}
.all-collection .images img{
    width:300px;
    height:256px;

}
.link-button2{
    text-decoration: none;
    background-color:mediumvioletred;
    font-weight: 700;
    color:white;
    border-radius: 20px;
    padding:10px 40px;
    margin-left: 5%;
    
    
}
/* -------animation start------ */
.animation-container{
    display:flex;
    width:70%;
}
.circle-yellow{
    margin-top: 100px;
    margin-left: 8%;
    
}
.animation{
    margin-top: 100px;
    width:300px;
    height:300px;
    background-color:black;
   margin-left: 8%;
 
   
}
.circle{
    width:50px;
    height:50px;
    background-color: yellow;
    border-radius:50%;
    animation: sliding 1s ease-in-out 0.5s infinite alternate ;
    animation-play-state: running;
    position:relative;
}
/* -------animation end-------- */


/* ------footer start------ */
footer{
    text-align:center;
    background-color: blanchedalmond;
    

}
/* ------footer end------ */
/* ------annimation----- */
@keyframes sliding {
    0%{
        left:0;
        top:0;
       
    
    }
    50%{
        top:250px;
        background-color:red ;

    }
    100%{
        left:250px;
        top:0;
        background-color: peru;

    }
    
}
/* ---------Media Quees--------- */
/* --------Phone Devices------ */
@media only screen and (max-width:688px) {
    .program{ 
        
        grid-template-columns: repeat(1,1fr);
        flex-direction: column;
    }
    /* .products-camera{
        width:100%
    } */
.products-camera img{
    width:100%;
}
.bar-element{
    grid-template-columns: repeat(1,1fr);

}.all-collection1{
    grid-template-columns: repeat(1,1fr);
    flex-direction: column;

}.animation-container{
    grid-template-columns: repeat(1,1fr);
    flex-direction: column;

}
     
   

    
}
/* -------tab devices----- */
@media only screen and (min-width:688px) and (max-width:992px) {
    .program{ 
        
        grid-template-columns: repeat(2,1fr);
        flex-direction: column;
    }
    /* .products-camera{
        width:100%
    } */
.products-camera img{
    width:100%;
}
.bar-element{
    grid-template-columns: repeat(2,1fr);

}.all-collection1{
    grid-template-columns: repeat(2,1fr);
    flex-direction: column;
  

}




.animation-container{
    grid-template-columns: repeat(2,1fr);
    flex-direction: column;

}

    
}
/* -----end my website work------ */


